.skill:nth-child(2) {
    transition-delay: 80ms;
}
.skill:nth-child(3) {
    transition-delay: 160ms;
}
.skill:nth-child(4) {
    transition-delay: 240ms;
}
.skill:nth-child(5) {
    transition-delay: 320ms;
}
.skill:nth-child(6) {
    transition-delay: 400ms;
}
.skill:nth-child(7) {
    transition-delay: 480ms;
}
.skill:nth-child(8) {
    transition-delay: 560ms;
}
.skill:nth-child(9) {
    transition-delay: 640ms;
}

.skillHidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.7s;
}

.skillShow {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
