.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}


/* Home page animations*/
@keyframes typing {
    from {
      width: 0;
      opacity: 0;
      transform-origin: left;
    }
    to {
      width: 100%;
      opacity: 1;
      transform-origin: left;
    }
  }
  
.typewriter-effect {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s linear;
    opacity: 0;
    animation-fill-mode: forwards;
}

.typewriter-effect:nth-child(2) {
    animation-delay: 1.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(3px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

.fade-in-home {
    animation: fade-in 1.5s;
    opacity: 0;
    animation-delay: 3.5s;
    animation-fill-mode: forwards; 
}

/* About page animations*/
@keyframes come-top {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 0.7s;
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

.skill:nth-child(2) {
    animation-delay: 50ms;
}
.skill:nth-child(3) {
    animation-delay: 100ms;
}
.skill:nth-child(4) {
    animation-delay: 150ms;
}
.skill:nth-child(5) {
    animation-delay: 200ms;
}
.skill:nth-child(6) {
    animation-delay: 250ms;
}
.skill:nth-child(7) {
    animation-delay: 300ms;
}
.skill:nth-child(8) {
    animation-delay: 350ms;
}
.skill:nth-child(9) {
    animation-delay: 400ms;
}

.skillHidden {
    opacity: 0;
}

.skillShow {
    animation: come-top 0.8s;
    animation-fill-mode: forwards;
}

/* Project page animations*/
@keyframes come-left {
    from {
        opacity: 0;
        filter: blur(2px);
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transition: all 0.8s;
        filter: blur(0);
        transform: translateX(0);
    }
}

.project:nth-child(2) {
    animation-delay: 100ms;
}
.project:nth-child(3) {
    animation-delay: 250ms;
}
.project:nth-child(4) {
    animation-delay: 500ms;
}

.projectHidden {
    opacity: 0;
}

.projectShow {
    animation: come-left 0.7s;
    animation-fill-mode: forwards;
}